@font-face {
  font-family: 'openSans';
  src: url('OpenSans-Regular.ttf');

}

@font-face {
  font-family: 'openSansSemiBold';
  src: url('OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'openSansBold';
  src: url('OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'openSansLight';
  src: url('OpenSans-Light.ttf');
}
