aside.col-4(itemscope itemtype="https://schema.org/Organization")
          .card.intro
            .logofrim
              img.logoAside(src="/images/meslameni-studio-logo-aside.png", width="150", height="150")
            h2 Intro
            .introHeader.clearfix.flex
                img(src="/images/about_company.png", alt="about meslameni studio", width="16", height="16")
                p 
                  strong(itemprop="name") MESLAMENI studio 
                  |: creative design studio that will delivry the creative design studio that will delivry the creative design studio that will delivry the
                  br
                  a(href="/about") learn more
            hr
            h3 come visit us
            address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
              .flex
                img(src="/images/company_address.png", alt="meslameni Studio address", width="16", height="16")
                .a
                  span(itemprop="streetAddress") Route Mahdia KM 4, Markez Kaaniche ,
                  br
                  span(itemprop="addressRegion") Sakiet Eddaïer, 
                  span(itemprop="postalCode") 3011
                  br
                  span(itemprop="addressLocality") Sfax, Tunisia 
                br
              .flex
                img(src="/images/email.png", alt="meslameni Studio email link", width="16", height="16")
                .a
                  | Email:
                  a(href="mailto:tarek@meslameni.com")
                    span(itemprop="email") tarek@meslameni.com
                  br
              .flex
                img(src="/images/phone.png", alt="meslameni Studio phone number", width="16", height="16")
                .a
                  | Phone: 
                  a(href="tel:216-53-106-901")
                    span(itemprop="telephone") (+126) 53-106-901